{% extends 'malh.html' %}

{% block main %}
    <div class="aboutbilde">
        <img src="../static/bilder/about.jpg" alt="">

    </div>

    <div class="about">
        <p>430 KINGS ROAD</p>
        <h1 class="time">1971 - 1980</h1>
        
    </div>
    <div class="aboutw">
        <div>
            <img src="../static/bilder/aboutb.jpg" alt="">
        </div>
        <div>
            <p>The hippie movement was the most popular fashion in late 1960s London, but it didn’t inspire young Vivienne Westwood and Malcolm McLaren. They were much more intrigued by acts of rebellion and typical 1950s clothing, music, and memorabilia.

                Vivienne began by designing and making Teddy Boy clothes for Malcolm and in 1971 they opened a small boutique called Let it Rock at number 430 Kings Road, Chelsea in London.
                
                A year later, Vivienne’s interests had turned to biker clothing, zips, and leather. The shop re-branded with a skull and crossbones and was renamed Too Fast to Live, Too Young to Die. 
                
                Vivienne and Malcolm began to design their own t-shirts with provocative printed slogans, which led to their prosecution under the 1959 Obscene Publications Act; they responded by re-branding the shop once again and producing even more t-shirts featuring hard-core images. 
                
            </p>
            <p>
                By 1974 the shop was renamed Sex, a shop “unlike anything else going on in England at the time” they used the slogan ‘rubberwear for the office’.
                
                Two years later, popular band the Sex Pistols’ (managed by Malcolm) song ‘God Save the Queen’ went to number one in the charts but was refused airtime by the BBC. The shop reopened as Seditionaries, transforming the straps and zips of obscure sexual fetishism and bondage into fashion, and inspiring a D.I.Y. aesthetic. The mass media labelled this as ‘Punk Rock’.
                
                The collapse of the Sex Pistols and the adoption of punk by the mainstream left Vivienne disenchanted. In 1980 the shop was refitted and renamed Worlds End, which is still the name that’s in use today.
                
                The shop’s basement was formerly a restaurant, but Worlds End eventually absorbed it to expand the stockroom and staff facilities. Officially the shop hasn’t changed aesthetically since opening its doors. The original interior was restored in 2017, but all details remain as they were designed by Vivienne and Malcolm 40 years ago.
            </p>
        </div>
    </div>
    <div class="tilbakek">
        <a href="/">BACK TO FRONT PAGE > </a>

    </div>
{% endblock %}