{% extends 'mal.html' %}

{% block main %}

<div class="cart">
    <h1>CART</h1>
    
    <ul class="handlekurv">
        {% for id in handlekurv %}
            <a href="/produkt/{{id}}">
                <div>
                    <img src='{{ url_for("static", filename="bilder/" + produkter[id]["bilde"]) }}' alt='bilde av {{ produkter[id]["navn"] }}'>
                </div>
                <div>
                    {{produkter[id]["navn"]}}
                    {{produkter[id]["pris"]}}
                </div>
            </a>
            <div>
                <form action="/handlekurv/slett/{{id}}">
                    <button type="submit">remove</button>
                </form>
            </div>
        {% endfor %}
    </ul>

    <h1>Subtotal: </h1>
</div>
<div class="tilbakek">
    <a href="/">BACK TO FRONT PAGE > </a>

</div>
    
{% endblock %}